# os
Thumbs.db
.DS_Store

# ide
.idea
.vscode
.iml

# auto generated
**/*.pyc
*.autosave
*.user
*.user.*
CMakeSettings.json
.vs
__pycache__

# nativium
build
build-*
/dist/
/dist.*
/*.dmg
/*.tar
/*.tar.*
/custom

# node
node_modules
package-lock.json

# conan
/CMakeUserPresets.json
