name: Linux

on:
  push:
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - 'extras/images/**'

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - { name: "Ubuntu", os: ubuntu-latest, target: "linux" }
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade PIP
        run: python3 -m pip install --upgrade pip setuptools wheel

      - name: Display Python Version
        run: python3 --version

      - name: Display PIP Version
        run: python3 -m pip --version

      - name: Install CMake
        uses: jwlawson/actions-setup-cmake@v2
        with:
          cmake-version: "3.24.0"

      - name: Install Ninja
        uses: seanmiddleditch/gha-setup-ninja@master
        with:
          version: "1.10.0"

      - name: Install LCOV
        run: sudo apt-get install -y lcov

      - name: Nativium - Install Python Dependencies
        run: python3 -m pip install -r requirements.txt

      - name: Nativium - Install Glue Code Tool
        run: python3 nativium.py gluecode setup

      - name: Nativium - Setup Conan
        run: python3 nativium.py conan setup

      - name: Nativium - Test Setup
        run: python3 nativium.py target tests setup

      - name: Nativium - Test Run
        run: python3 nativium.py target tests run

      - name: Nativium - Test Coverage
        run: python3 nativium.py target tests coverage

      - name: Code Coverage - Upload
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/tests/debug/x86_64/lcov.coverage.info
          fail_ci_if_error: true
          functionalities: fixes
          verbose: true

      - name: Nativium - Setup
        run: python3 nativium.py target ${{ matrix.config.target }} setup

      - name: Nativium - Build
        run: python3 nativium.py target ${{ matrix.config.target }} build

      - name: Nativium - Package
        run: python3 nativium.py target ${{ matrix.config.target }} package

      - name: Nativium - Dist Generate
        run: python3 nativium.py target ${{ matrix.config.target }} dist generate

      - name: Github Action - Upload
        uses: actions/upload-artifact@v4
        with:
          name: artifact-${{ matrix.config.target }}.tar.gz
          path: build/${{ matrix.config.target }}/dist/dist.tar.gz

      - name: Nativium - Dist Upload
        if: startsWith(github.ref, 'refs/tags/')
        env:
          NATIVIUM_AWS_KEY_ID: ${{ secrets.NATIVIUM_AWS_KEY_ID }}
          NATIVIUM_AWS_SECRET_KEY: ${{ secrets.NATIVIUM_AWS_SECRET_KEY }}
        run: python3 nativium.py target ${{ matrix.config.target }} dist upload --force

      - name: Release - Setup
        if: startsWith(github.ref, 'refs/tags/')
        run: mv build/${{ matrix.config.target }}/dist/dist.tar.gz ${{ matrix.config.target }}.tar.gz

      - name: Release
        id: upload-release-asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: ${{ matrix.config.target }}.tar.gz
